<!DOCTYPE html>

<html>
<head>
  <title><%= title %></title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" media="all" href="public/css/normalize.css" />
  <link rel="stylesheet" media="all" href="public/css/docco.css" />

  <script src="bower_components/angular/angular.js"></script>

  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/gsap/src/minified/TweenMax.min.js"></script>
  <script src="bower_components/ng-Fx/dist/ng-Fx.min.js"></script>

  <script src="bower_components/mousetrap/mousetrap.min.js"></script>
  <script src="bower_components/angular-hotkeys/build/hotkeys.min.js"></script>

  <script>
    var app = angular.module('presentationApp', ['ngAnimate', 'fx.animations', 'cfp.hotkeys']);
    app.config(function(hotkeysProvider) {
      hotkeysProvider.includeCheatSheet = false;
    });

    app.controller('PresentationCtrl', function($scope, hotkeys) {
      $scope.currentSlide = 0;
      $scope.slideCount = 0;

      $scope.isCurrentSlide = function(idx) {
        return idx == $scope.currentSlide;
      };

      $scope.next = function() {
        $scope.currentSlide = Math.min($scope.slideCount - 1, $scope.currentSlide + 1);
        return $scope.currentSlide;
      };

      $scope.prev = function() {
        $scope.currentSlide = Math.max(0, $scope.currentSlide - 1);
        return $scope.currentSlide;
      };

      $scope.first = function() {
        $scope.currentSlide = 0;
        return $scope.currentSlide;
      };

      $scope.last = function() {
        $scope.currentSlide = $scope.slideCount - 1;
        return $scope.currentSlide;
      };

      hotkeys.add('down', 'Next Slide', $scope.next);
      hotkeys.add('ctrl+down', 'Last Slide', $scope.last);

      hotkeys.add('up', 'Previous Slide', $scope.prev);
      hotkeys.add('ctrl+up', 'First Slide', $scope.first);
    });
  </script>
</head>
<body ng-app="presentationApp" ng-controller="PresentationCtrl" ng-init="slideCount=<%=sections.length%>">
  <a ng-click="first()">first</a>
  <a ng-click="prev()">prev</a>
  <a ng-click="next()">next</a>
  <a ng-click="last()">last</a>
  <span>{{currentSlide + 1}}/{{slideCount}}</span>

  <div class="container">
    <div class="page">
      <% for (var i = 0, l = sections.length; i<l; i++) { %>
        <section class="fx-rotate-counterclock fx-easing-bounce fx-speed-800" ng-show="isCurrentSlide(<%=i%>)">
        <% var section = sections[i]; %>
        <%= section.docsHtml %>
        <% if (!(/^\s*$/).test(section.codeText)) { %>
          <%= section.codeHtml %>
        <% } %>
        </section>
      <% } %>
    </div>
  </div>
</body>
</html>
